@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=League+Spartan:wght@900&family=Open+Sans:wght@800&display=swap');

@font-face {
  font-family: 'General Sans Bold';
  src: url('../public//fonts/GeneralSans-Bold.otf');
}

@font-face {
  font-family: 'General Sans SemiBold';
  src: url('../public/fonts/GeneralSans-Semibold.otf');
}

:root {
  background-color: #1c1917;
  color: white;
}

.instrument-serif {
  font-family: 'Instrument Serif', serif;
}
.instrument-serif-italic {
  font-family: 'Instrument Serif', serif;
  font-style: italic;
}

.league-spartan{
  font-family: 'General Sans SemiBold', sans-serif;
}


.swiper-pagination{
  visibility: hidden !important;
  display: none !important;
}